@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #212529;
}

.navbar {
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 8px;
}

#main-heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 0.08rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#side-heading {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.table-container {
  overflow-x: auto;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.table-container table {
  width: 100%;
}

.card-header {
  font-size: 1.3rem;
}

.row {
  margin-left: -1.5rem;
}

.footer__title {
  padding: 1rem;
  background-color: #212529;
  color: #ffffff;
  margin-bottom: -1rem;
}
