@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #212529;
}

.navbar {
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 8px;
}

#main-heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 0.08rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.with-border-bottom {
  border-bottom: 1.5px solid #ffffff;
  padding-bottom: 5px;
}

.card {
  margin-bottom: 1rem;
}

.card h5 {
  font-size: 1.1rem;
}

.card p {
  font-size: 0.9rem;
}

.attacks img {
  width: 500px;
  display: flex;
  align-self: center;
}

.protocols img {
  width: 500px;
  display: flex;
  align-self: center;
}

.mlalgo img {
  width: 500px;
  display: flex;
  align-self: center;
}

.footer__title {
  padding: 1rem;
  background-color: #212529;
  color: #ffffff;
  margin-bottom: -1rem;
}
