@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

:root {
  --clr-body: #0f172a;
  --clr-navbar: #1e293b;
  --clr-scrollbar: #1e293b;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #212529;
}

.navbar {
  font-family: "Lato", sans-serif;
}

.navbar-custom {
  background-color: var(--clr-navbar);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-body);
  color: #ffffff;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 8px;
}

.custom-border {
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* .custom-border label {
  font-weight: bold;
} */

.custom-border input,
.form-select {
  border-color: #0ea5e9;
}

.custom-border button {
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
}

.footer__title {
  padding: 1rem;
  background-color: var(--clr-scrollbar);
  color: #ffffff;
  margin-bottom: -1rem;
}
